@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

pre {
  font-family: var(--font-roboto), sans-serif;
}

#main-header.scrolled img.shrink-on-scroll {
  width: 140px !important;
  height: auto;
}

#main-header.scrolled {
  background-color: #1f2937;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgb(107 114 128);
  position: fixed;
}
